html{
  background-color: rgb(247, 247, 162);
}

h1{
  color: #ff5257;
  text-align: center;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 4px 5px pink, 7px 8px #e2e2e2;

  /* font-family: 'Paytone One', sans-serif; */
  /* font-family: 'Press Start 2P', cursive; */

}

/* game board table */
#game {
  /* background-color: #bcffb9;  */
  display: flex;
  justify-content: center;
 
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px rgb(246, 243, 243);
  background-color: rgb(198, 255, 190);
  position: relative;
}

#column-top {
  background-color: rgb(91, 123, 150);
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  position: relative;
  display: bock;
  margin: 5px;
  width: 80%;
  /* width: px; */
  height: 80%;
  /* height: 5px; */
  border-radius: 50%;
  animation-name: slidein;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes slidein {
  from{ 
    top:-300px;
  }

  to{
    top:0px ;
  }

}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1{
  background-color: red;
}

.p2{
  background-color:blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
  background-color: white;
}

#column-top td:hover {
  background-color: gold;
}
